<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApWx5LV6TGHoDUMbm94Q2g0i7-HCyJ1bA</string>
	<key>GCM_SENDER_ID</key>
	<string>1045022768338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TennpaGames.MemoPad</string>
	<key>PROJECT_ID</key>
	<string>escapegame-memopad</string>
	<key>STORAGE_BUCKET</key>
	<string>escapegame-memopad.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045022768338:ios:42c482e0b274f1d3ba010b</string>
</dict>
</plist>